
#basketDiv {
    position: relative;
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 200px;
}
#basketHeading
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#basketDiv h3, h5 {
    font-family: verdana, arial, sans-serif;
    margin-left: 50px;
    color :#1ab188;
}

#basketDiv h5 { color: black;}

/*/////// ACTUAL TABLE STYLE ///////*/
#basketTable {
    position: relative;
    border-collapse: collapse;
    width: 92%;
    height: 200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: verdana, arial, sans-serif;
    border: solid 1px #1ab188;
}

#basketTable th {
    height: 60px;
    background-color: #1ab188;
    color: white;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#basketTable th, td {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#basketTable td { font-size: 14px;} 

#basketTable img { border: 0; display: block;}

/*/////// TABLE DATA STYLE ///////*/
#thProdName, #thLineTotal{ text-align: left; }

.tdFirstThinLine {  /* FIRST THIN LINE AFTER TH*/
    height: 3px;
    background-color: white;
}
figure {
    text-align: center;
  }
  .center-img {
    display: block;
    margin: 0 auto;
  }

.tdProdImg {
    width: 100px;
    height: 100px;
    background-color: white;
}

.tdName {
    width: 25%;
    height: 100px;
    background-color: white;
}

.tdName p {
    margin-left: -20%;
}



.tdPrice {
    width: 30px;
    height: 50px;
    text-align: center;
    background-color: white;
}

.tdQty {
    width: 180px;
    height: 50px;
    text-align: center;
    background-color: white;
}

.tdQty input[type='text'] {
    width: 10%;
    text-align: center;
}

.tdQty input[type='submit'] {
    padding:5px 15px; 
    background:#1ab188; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 30%;
}

.tdQty input[type='submit']:hover {background-color: #066e52; color: white;}

.tdLineTotal {
    width: 100px;
    height: 50px;
    text-align: left;
    background-color: white;
}

.tdThinLine {      /* THIN LINE AFTER PRODUCT TD*/
    height: 1px;
    background-color: #1ab188;
}

.trEmptySpace {     /* EMPTY SPACE BEFORE SUBTOTAL*/
    height: 30px;
}

.tdEnd {    /* TITLE SUBTOTAL SHIPPING COST VAT GRANT TOTAL*/
    text-align: right;
    background-color: #49eec2;
}

.tdEndData {
    text-align: left;
    background-color: #49eec2;
}

.tdGrandTotal {
    height: 30px;
    text-align: right;
    background-color: #1ab188;
    color: white;
}

.tdGrandTotalData {
    height: 30px;
    text-align: left;
    background-color: #1ab188;
    color: white;
}
/*/////// END OF TABLE DATA STYLE ///////*/

#checkOutDiv {
    width: 95%;
    height: 30px;
    float: right;
    margin-top: 40px;

    margin-left: auto;
    margin-right: auto;
}

#aContinueShop {
    display: block;
    width: 20%;
    height: 30px; 
    background-color: #1ab188;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-family: verdana, arial;
    font-size: 12px;
    color: white;
    float: left;
    margin-left: -15px;
}

#aCheckout {
    display: block;
    width: 20%;
    height: 30px; 
    float: right;
    background-color: #1ab188;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-family: verdana, arial;
    font-size: 12px;
    color: white;
}

#aContinueShop:hover, #aCheckout:hover {
    background-color: #1e5043;
    color: white;
}

#basketThickLine {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0;
    background-color: grey;
}

#basketErrorDiv {
    display: none;
    width: 100%;
    height: 40px;
    margin: 0 auto 0;
    border: solid 1px #1ab188;
}

#basketErrorDiv h6 {
    margin-left: 30px;
    font-family: verdana, arial;
    color: #0de4d231;
}

.tdButton input[type='submit'] {
    padding:5px 15px; 
    background:#1ab188; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 30%;
}
tdName1 {
    width: 25%;
    height: 100px;
    background-color: white;
}

tdName1 p {
    margin-left: -75%;
}

tdId{
    width: 15%;
    margin-left: 100px;
    background-color: red;
}