
#prodInfoBoxDiv {
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 10px auto 0;
    background-color: white;
}

.thickLine { 
    padding: 0; 
    margin: 0; 
    border: solid 10px; 
    color: lightgrey;
}

.thinLine {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: lightgrey;
}

/*////// PRODUCT IMAGE //////*/
#imgDivBg { 
    width: 500px;
    height: 800px;
    float: left;
    background-color: white;
}

#imgDiv {
    width: 455px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#imgDiv h2 {
    font-family: helvetica, arial, sans-serif;
    margin-bottom: 0;
    margin-top: 20px;
}
    
#stars{
    width: 170px;
    height: 50px;
}

#prodSlides{
    width: 450px;
    height: 350px;
}

#prodSlides .firstProdSlide { display: block; }
#prodSlides .otherProdSlides { display: none; }

#prodSlides img{
    width: 450px;
    height: 350px;
    border: 0;
}
/*////// END OF PRODUCT IMAGE //////*/

/*////// PRODUCT IMAGE THUMB //////*/
#prodThumbs a { 
    display: block;
    width: 50px;
    height: 50px;
    padding: 0px; 
    border: 1px solid #ccc; 
}

#prodThumbs li { 
    width: 61px;
    height: 61px;
    float: left; 
    margin: 10px; 
    list-style: none; 
    padding: 5px; 
    display: block; 
}

#prodThumbs { 
    width: 300px; 
    margin: 15px; 
    float: left 
}

#prodThumbs a:focus { outline: none;}
#prodThumbs li:default { background-color: #1ab188; }
#prodThumbs li.activeLI { background-color: #1ab188; }
#prodThumbs li:hover { background: #1ab188; }
#prodThumbs img { border: none; display: block; width: 50px; height: 50px;}

/*////// PRODUCT DESCRIPTION //////*/
#prodDescDiv{
    width: 500px;
    height: 800px;
    float: right;
    background-color: white;
}

#prodDescDiv h2, h4, h5, p{
    font-family: helvetica, arial, sans-serif;
}

#prodDescDiv p{
    font-size: 13px;
}

#prodDescDiv li p{
    padding: 0;
    margin: 0;
    font-size: 11px;
}

#descDiv1{
    width: 500px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

#descDiv1 input[type="text"]{
    width: 20px;
    margin-left: 50px;
}
/*////// END OF PRODUCT DESCRIPTION //////*/

#prodNotFoundDiv{
    position: absolute;
    width: 700px;
    height: 150px;
    top: 20px;
    left: 50px;
    font-family: verdana, arial, sans-serif;
}

#prodNotFoundDiv h3, h5 {
    font-family: verdana, arial, sans-serif;
}

#prodNotFoundDiv h3 {
    color: #1ab188;
}

#aContinueShop {
    display: block;
    width: 150px;
    height: 30px; 
    float: left;
    background-color: black;;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-family: verdana, arial;
    font-size: 12px;
    color: white;
}

#aContinueShop:hover {
    background-color: #1ab188;
    color: black;
}

#infoNotFoundThickLine {
    position: absolute;
    width: 800px;
    height: 20px;
    top: 0;
    background-color: grey;
}

#infoThickLine {
    position: absolute;
    width: 800px;
    height: 20px;
    bottom: 0;
    left: 0;
    background-color: grey;
}

#addNotificaiton {
    display: none;
    width: 1000px;
    height: 65px;
    border: solid 1px #1ab188; 
}

#addNotificaiton img {
    border: 0;
}

#addNotificaiton h3 {
    font-family: verdana, arial;
    text-align: center;
    color: #1ab188;
}


input[type=submit] {
    padding:5px 15px; 
    background:#1ab188; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

input[type="text"] {
    border:0 none;
    text-align: center;
    font-size: 12px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    border: 1px solid #ccc; 
    width: 100px;
    height: 30px;
    margin-left: 25px;
    margin-right: 0px;
}

frmAddToBasket{
    width: 100%;
}


select#soflow, select#soflow-color {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px #1ab188;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#53d1b0, #53d1b0 40%, #1ab188);
    background-position: 95% center;
    background-repeat: no-repeat;
    border: 0px solid #1ab188;
    color: #555;
    font-size: inherit;
    margin-top: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
 }
 
 select#soflow-color {
    color: #fff;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#53d1b0, #53d1b0 40%, #53d1b0);
    background-color: #53d1b0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;
 }